@import "parts/index";
@import "pages/index";

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 97px;
}

.m-r-23{
    margin-right: 23px;
}

.row{
    display: flex;
}

.rowWidth{
    width: 300px;
}

.m-t-50{
    margin-top: 50px;
}

.m-l-50{
    margin-left: 50px;
}

.m-t-30{
    margin-top: 30px
}

.m-t-15{
    margin-top: 15px
}